  
  <%- include("partials/header.ejs") %>
  
  <div class="box" id="heading">
          <h1>
            Sunday, August 20
          </h1>
        </div>
        <div class="box">
          
            <div class="item">
              <input type="checkbox">
              <p>
                ijfjbdi
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                lnlnln
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                sdad
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                asdf
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                nope
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                Heyy There
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                Hi bitch
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                who is this
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                ok 
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                hkmdftl
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                viji
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                new
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                How to delete tasks? xD
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                hii
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                My name is name
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                hkjkl
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                eretewr
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                why is there so many blank tasks..not good...
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                Das ehehe
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                nh
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                dcs
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                lovepreet
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                kl
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
            <div class="item">
              <input type="checkbox">
              <p>
                
              </p>
            </div>
            
              <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value="Sunday," august="" 20="">+</button>
              </form>
        </div>

        <%- include("partials/footer.ejs") %>
        